<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    NPK
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Chercher un fertiliser">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button (click)="newFertiliser()"
                class="add-product-button fuse-white mt-24 mt-md-0">
                <span>Ajouter un fertiliser</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

        

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                    <mat-cell *matCellDef="let fertiliser">
                        <p class="text-truncate">{{fertiliser.name}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Azote Column -->
                <ng-container matColumnDef="azote">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Azote</mat-header-cell>
                    <mat-cell *matCellDef="let fertiliser" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{fertiliser.azote}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- Phosphore Column -->
                 <ng-container matColumnDef="phosphore">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Phosphore</mat-header-cell>
                    <mat-cell *matCellDef="let fertiliser" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{fertiliser.phosphore}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- Potassuim Column -->
                 <ng-container matColumnDef="potassuim">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Potassuim</mat-header-cell>
                    <mat-cell *matCellDef="let fertiliser" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{fertiliser.potassuim}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Action</mat-header-cell>
                    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-xs>
                    <div fxFlex="row"  >
                    <button (click)="$event.stopPropagation();"  mat-raised-button (click)="editFertiliser(contact)" color="success" >Modifier</button>
                    <button (click)="$event.stopPropagation();"  mat-raised-button (click)="openDialog('Delete',element)" color="warn">Supprimer</button>
                    </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let fertiliser; columns: displayedColumns;" class="fertiliser" matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>